body {
	background-color: white;
	width: 900px;
	margin:auto;
	line-height:150%;
	font-family: "Comic Sans MS", "Arial", "sans-serif";
	font-size:12px;
	color:#7c4600;
}

a {
	text-decoration: none;
	color:#7c4600;
}

a:hover{
	font-weight: 500;
}

nav a:hover {
	background-color: #7c4600;
	color:white;
}

nav {
	display: flex;
	font-weight: bold;
}

nav>a{
	border-right: 1px solid #7c4600;
	flex-grow: 1;
	text-align: center;
}
nav>a:last-child{
	border-right: 0px;
}

h1 {
	text-align: center;
}

footer{
	background-color: #ffc986;
	display:flex;
	flex-direction: column;
}

footer>div:last-child{
	display:flex;
	justify-content: space-between;
	padding: 0 5px 0 5px;
	border-top:1px solid white;
}

#foot{
	display: flex;
	align-items: center;
}

footer > div{
	flex-grow: 1;
}

#lastfoot>p{
	margin: 5px;
}

#lastfoot>p:first-child{
	font-size: 10px;
}

@font-face {
	font-family: "FontLogo";
	src: url('/ProjetBiere/font/FontLogo.otf');
}

#head{
	padding:20px;
	display: flex;
}

#connexion a:hover{
	color:#ffc986;
}

#connexion p{
	color:#ffc986;
}

#connexion {
	display: flex;
	align-items: center;
	justify-content: center;
}

#connexion div:last-child{
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}

#logo>img{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	margin-right: 10px;
}

#logo>p{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	margin-right: 10px;
}

#logo{
	font-family: "FontLogo";
	font-size: 40px;
	display: flex;
}

#chercher{
	margin: auto;
	border:1px solid #7c4600;
}

#search_input{
	border:0px;
	width:170px;
	text-align: center;
}

#search_button{
	border: 0px;
	background-color: white;
	background-image: url('/ProjetBiere/img/loupe.png');
}


#accueil {
	margin-top: 5px;
	margin-bottom: 5px;
	background-image: url('/ProjetBiere/img/wallpaper.jpg');
	background-repeat:round;
	height:600px;
	color: #7c4600;
	text-align: center;
	display: flex;
	flex-direction: column;
	font-size: 20px;
}

#accueil>div {
	flex-grow: 1;
}

#acc1>h1{
	background-color: white;
	padding:35px;
	text-align: center;
	margin: 10px;
	font-size: 100px;
	font-family: "FontLogo";
}

#acc1>p{
	background-color: white;
	padding:20px;
	text-align: center;
	margin: 10px;
}

#accueil>div>a {
	background-color: white;
	padding:10px;
}

#accueil>div>a:hover {
	background-color: #7c4600;
	color:white;
}

#acc2 {
	display: flex;
	align-items: center;
	justify-content: center;
}

#acc1{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}

fieldset div{
	display: flex;
	flex-direction: column;
	align-items: center;
}
fieldset div:last-child{
	margin-top: 20px;
	margin-bottom: 20px;
}